name: CI

on:
  push:
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: sbt

      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14

      - name: Run SBT tasks
        run: >
          sbt
          scalafmtCheckAll
          scalafmtSbtCheck
          test
